@use './helpers' as *;

@use 'swiper/scss' with (
  $themeColor: getColor(interface900)
);
@use 'swiper/scss/navigation';
@use 'swiper/scss/pagination';
@use 'swiper/scss/scrollbar';

html,
body {
	--swiper-theme-color: #{getColor(interface900)};
	--swiper-pagination-bullet-inactive-color: #{getColor(interface100)};
	--swiper-pagination-bullet-inactive-opacity: 1;
}
