.root {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.flexColumn {
  flex-direction: column;
}

.itemsStart {
  align-items: flex-start;
}

.itemsCenter {
  align-items: center;
}

.itemsEnd {
  align-items: flex-end;
}

//.items-stretch {
//  align-items: stretch;
//}
//
//.items-baseline {
//  align-items: baseline;
//}

.justifyStart {
  justify-content: flex-start;
}

.justifyCenter {
  justify-content: center;
}

.justifyEnd {
  justify-content: flex-end;
}

.justifyBetween {
  justify-content: space-between;
}

.justifyAround {
  justify-content: space-around;
}
